<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49255/MyService.asmx" binding="basicHttpBinding"
                bindingConfiguration="CalculatorWebServiceSoap" contract="MyServiceReference.CalculatorWebServiceSoap"
                name="CalculatorWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>